.THIS .red{
    background-color:red;
}
.THIS.white{
    background-color:white;
}
.THIS .blue{
    background-color:blue;
}
.THIS .green{
    background-color:green;
}

.THIS .test{
    background-color:blue;
}